*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background: var(--van-gray-1);
  font-size: var(--van-font-size-lg);
  color-scheme: light;
  /* 禁用双击缩放 */
  -ms-touch-action: manipulation;
  /* IE兼容 */
  overscroll-behavior: none;
}

html.dark {
  background: #0f1015;
  color-scheme: dark;
}
body {
  overscroll-behavior: none;
}

#app {
  position: relative;
  /* iOS 平滑滚动 */
  top: 0;
  left: 0;
  width: 100% !important;
  max-width: none !important;
  min-height: calc(var(--full-height));
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: contain; // 限制滚动边界
}

.overflow-app {
  & > .app-container {
    height: calc(var(--full-height) - env(safe-area-inset-top) + 1px);
    // overflow-y: auto;
  }
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  scrollbar-color: #464f50 #1a202c;
  scroll-margin: 0;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px;
  margin: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #464f50;
  border-radius: 5px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.hide-scrollbar {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
  }
}
//手机端隐藏滚动条
@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
    background: transparent !important;
  }
}

.van-nav-bar--fixed,
.van-tabbar--fixed,
.van-overlay {
  left: 0 !important;
  width: 100% !important;
}
